.card-item {
    width: 15rem;
    margin: 0.5rem;

    border-radius: 1rem;
    border: 1px solid $light-gray;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: $very-light-gray;

    & div{
        margin-top: 0.5rem;
        & img{
            height: 15rem;
        }
    }

}

.card-item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}