// Primary Colors
$primary-blue: #007BFF;

// Secondary Colors
$celeste: #B2FFFF;

// Neutrals
$dark-gray: #333333;
$medium-gray: #666666;
$light-gray: #999999;
$very-light-gray: #EEEEEE;
$white: #FFFFFF;